<h1>{{section.settings.title}}</h1>

{% schema %}

{

    "name": "new World",
    "class": "new-section-hello-world",
    "limit": 1,
    "settings": [
        {
        "type":"text",
        "id":"title",
        "label":"Title",
        "default":"Hello World",
        "info": "this is hellow world info"

        },
        {
  "type": "color",
  "id": "body_text",
  "label": "Body text",
  "default": "#000000"
}
    ],
    "presets": [
        { 
            "name": "hello world"
        
        }
    ]

}

{% endschema %}