<h1>Hello world</h1>

{% schema %}

{

    "name": "hello World",
    "class": "new-section-hello-world",
    "limit": 1,
    "settings": [
        
    ],
    "presets": [
        { 
            "name": "hello world"
        
        }
    ]

}

{% endschema %}